/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> */

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
}

body {
    margin: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.background img {
    min-height: 100vh;
}

.content {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}

.left {
    width: 42.5%;
    height: 100%;
    position: relative;
    background-color: rgba(238, 224, 232, 0.5);
    backdrop-filter: blur(10px);
}

.right {
    width: 57.5%;
    height: 100%;
}

.header {
    padding: 25px 60px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    height: 64px;
}

.link {
    margin-right: 42%;
}

.link-v {
    margin-top: 15%;
}

.text-f {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 44%;
    width: 98%;
}

.text-l {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 80%;
    width: 91%;
}

.right-2 {
    height: 80%;
    width: 100%;
    display: flex;
}

.text,
.text-img {
    margin: 0;
    font-size: 260px;
    font-weight: 900;
}

.text-img {
    background: url(../images/background.jpg) center center fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.vertical-text {
    writing-mode: vertical-lr; 
    transform-origin: left bottom; 
    white-space: nowrap;  
    display: flex;
    justify-content: flex-end;
}

a {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1); 
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
}

.block {
    width: 74%;
}

h2 {
    margin-left: 34px;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 0px;
}

ul {
    list-style-type: none;
    font-size: 20px;
}

li {
    margin: 0 0 10px;
    font-weight: 300;
}

b {
    font-weight: 500;
}
